# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# config for any BBS sites
/dreambbs.conf
make_export.conf
maple/make_export.conf

# add split-out build directory for cmake
build/

innbbsd/bbslink
innbbsd/innbbsd

maple/bbsd
maple/xchatd

test/lib_splay
test/lib_str_decode
test/lib_str_pat
test/lib_str_xor
test/lib_xsort
test/testsize
test/lib_f_mv
test/lib_f_cp
test/lib_f_rm

util/account
util/acl-sort
util/acpro
util/addpost
util/addsong
util/backup
util/base64encode
util/bbsmail
util/bmw-dump
util/brdmail
util/brdstat
util/brdcheck
util/camera
util/checkemail
util/classtable_alert
util/clean_acl
util/countage
util/countbirth
util/counter
util/countstar
util/dump-brdstat
util/expire
util/gem-check
util/gem-index
util/hdr-dump
util/mailexpire
util/mailpost
util/mailtoall
util/makeUSR
util/makefw
util/makeusrno
util/match
util/msgall
util/outgo
util/poststat
util/readBENZ
util/readFRIENZ
util/readUSR
util/reaper
util/redir
util/resetvmail
util/restorebrd
util/restoregem
util/restoreusr
util/rmbadmail
util/showACCT
util/showBRD
util/stopperm
util/template
util/topusr
util/tranBRD
util/transacct
util/userno
util/utmp-dump
