# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# config for any BBS sites

src/include/config.h

# other current binary files

src/bgopherd/gemd
src/bmtad/bmtad
src/bpop3d/bpop3d
src/innbbsd/bbslink
src/innbbsd/innbbsd
src/maple/bbsd
src/maple/bguard
src/maple/xchatd
src/util/2nd_expire
src/util/account
src/util/acl-sort
src/util/acpro
src/util/addsong
src/util/backup
src/util/backupbrd
src/util/backupgem
src/util/backupusr
src/util/base64encode
src/util/bbsmail
src/util/bmw-dump
src/util/brdstat
src/util/camera
src/util/checkemail
src/util/classtable_alert
src/util/clean_acl
src/util/countage
src/util/countbirth
src/util/counter
src/util/countstar
src/util/dump-brdstat
src/util/expire
src/util/flowlog
src/util/gem-check
src/util/gem-index
src/util/hdr-dump
src/util/mailexpire
src/util/mailpost
src/util/mailtoall
src/util/makeUSR
src/util/makefw
src/util/makeusrno
src/util/match
src/util/msgall
src/util/news
src/util/news_expire
src/util/outgo
src/util/poststat
src/util/reaper
src/util/redir
src/util/resetvmail
src/util/restorebrd
src/util/restoregem
src/util/restoreusr
src/util/rmbadmail
src/util/showACCT
src/util/showBRD
src/util/stopperm
src/util/template
src/util/topusr
src/util/tranBRD
src/util/transacct
src/util/userno
src/util/utmp-dump
src/util/webx
