# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# config for any BBS sites

include/config.h

# other current binary files

bgopherd/gemd
bmtad/bmtad
bpop3d/bpop3d
innbbsd/bbslink
innbbsd/innbbsd
maple/bbsd
maple/xchatd
util/2nd_expire
util/account
util/acl-sort
util/acpro
util/addsong
util/backup
util/backupbrd
util/backupgem
util/backupusr
util/base64encode
util/bbsmail
util/bmw-dump
util/brdstat
util/camera
util/checkemail
util/classtable_alert
util/clean_acl
util/countage
util/countbirth
util/counter
util/countstar
util/dump-brdstat
util/expire
util/flowlog
util/gem-check
util/gem-index
util/hdr-dump
util/mailexpire
util/mailpost
util/mailtoall
util/makeUSR
util/makefw
util/makeusrno
util/match
util/msgall
util/news
util/news_expire
util/outgo
util/poststat
util/reaper
util/redir
util/resetvmail
util/restorebrd
util/restoregem
util/restoreusr
util/rmbadmail
util/showACCT
util/showBRD
util/stopperm
util/template
util/topusr
util/tranBRD
util/transacct
util/userno
util/utmp-dump
util/webx
