[Unit]
Description=DreamBBS Telnet server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/home/bbs/run/bbs.pid
ExecStart=/home/bbs/bin-1.3/bbsd 23 &
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=42s
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
WantedBy=xchatd.service
Requires=startbbs.service
