[Unit]
Description=Start DreamBBS Telnet server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=bbs
Group=bbs
Type=oneshot
## if set User and Group as bbs, then we don't need sudo commands
ExecStart=/home/bbs/bin-2.0/camera
ExecStart=/home/bbs/bin-2.0/account
ExecStart=/home/bbs/bin-2.0/acpro
ExecStart=/home/bbs/bin-2.0/makefw
PrivateTmp=true

[Install]
WantedBy=multi-user.target
WantedBy=bbsd.service
