[Unit]
Description=DreamBBS Chatroom Daemon
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=bbs
Group=bbs
Type=forking
PIDFile=/home/bbs/run/chat.pid
ExecStart=/home/bbs/bin/xchatd &
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=42s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
Wants=bbsd.service
Requires=startbbs.service
